<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<%= form_for @comment, url: {action: "update"}, html: {class: "form-group"} do |f| %>
		  <div class="field">
		  	  <%= f.label :content %><br />
		  	  <%= f.text_area :content , class: "form-control" %>
		  </div>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		  <%= f.hidden_field :post_id, value: @comment.post.id %>
		  <%= f.submit "Comment",  class: "btn btn-primary" %>
		  <%= link_to 'Back', posts_path %>
		<% end %>
	</div>
	<div class="col"></div>
</div>


<!--

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
