<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<%= form_for @comment, :url => url_for(:controller => 'comments', :action => 'create') , html: {class: "form-group"} do |f| %>
		  <div class="field">
		  	  <%= f.label :content %><br />
		  	  <%= f.text_area :content , class: "form-control" %>
		  </div>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		  <%= f.hidden_field :post_id, value: @post.id %>
		  <%= f.submit "Comment",  class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="col"></div>
</div>




<!-- <h1>New Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Back', comments_path %>
